body{
	display : flex;
	flex-direction : column;
	margin : 0 auto;
	background-color: darkslategray;
}

footer{
	background-color: black;
	height:7%;
	color: white;
	opacity : 0.90;
}


#title{
	text-decoration: underline;
	color : white; 
	font-size: 25px; 
	margin: auto;
	margin-top: 20px;
	height: 20px;
	width: fit-content;
}

/* Top Band */
#topBlackBand{
	background-color : black;
	opacity : 0.90;
	width : 100%;
	height : 7%;
}

#Ryceka{
	width: 30%;
	margin-left: 2%;
}

#Ryceka:hover{
	cursor: pointer;
}

#navigationBand{
	width : 90%;
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	padding-top: 0.95%;
}	

.navigationItems{
	color : white;
	width : 15%;
}

.navigationItems:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* Bottom Band */
#contact{
	float: left;
	margin-top: 20px;
	margin-left: 25px;
}

#contact:hover{
	text-decoration: underline;
}

#aboutAmiens{
	float: right;
	margin-top: 20px;
	margin-right: 25px;
}

#aboutAmiens:hover{
	text-decoration: underline;
}

/* CSS commun */
.mainDiv{
	display: flex;
	flex-direction: column ;
	justify-content: space-around ;
	height: 120%;
	width: 100%;
}

/* CSS communs aux pages :  Inscription | Profil */ 

#activitesFav{
	display: flex;
	height: 13%;
	width: 35%;
	margin-left: 10%;
	background-color: lightgray ;
	color: black;
	border-radius: 2px;
}

.champ{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 10%;
}

.intitule{
	margin-left: 10%;
	margin-bottom: 15px;
}